body{
    background: rgb(29, 3, 122);
    font: normal 13pt Arial;
}

body div{
    margin: 8px;
}

select#flista{
    width: 150px;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
}

footer{
    color: white;
    font-style: italic;
    text-align: center;
}